---
import FormContact from '../components/FormContact.astro';
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contato - Freitasdev">
    <main class="animation-show">
        <FormContact/>
    </main>
</Layout>