---
import Carrer from '../components/Carrer.astro';
import Presentation from '../components/Presentation.astro';
import Stacks from '../components/Stacks.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Freitasdev - Portfolio">
	<main class="animation-show">
		<Presentation/>
		<Stacks/>
		<Carrer/>
	</main>
</Layout>

<style>
	main {
		padding: 1rem 0rem;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
