---
import ContactForm from '../components/ContactForm.astro';
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contato - Freitasdev">
    <main class="animation-show">
        <ContactForm/>
    </main>
</Layout>