---
import ProjectsComponent from '../components/ProjectsComponent.astro';
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projetos - Freitasdev">
    <main class="animation-show">
        <ProjectsComponent/>
    </main>
</Layout>