---
import ProjectsComponent from '../components/ProjectsComponent.astro';
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projetos - Freitasdev">
    <main>
        <ProjectsComponent/>
    </main>
</Layout>