---
export interface Props {
    icon: string;
    title: string;
    institution: string;
    period: string;
}

import { Icon } from "astro-icon/components";
const { title, institution, period, icon } = Astro.props;

---

<div class="carrer-card">
    <div class="title"> 
        <Icon name={icon}/>
        <span>{title}</span>
    </div>
    <p>{institution}</p>
    <p>{period}</p>
</div>

<style>
    .title {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-weight: 500;
    }

    div p {
        color: var(--color-secondary);
    }
</style>