---
import CarrerCard from "./CarrerCard.astro";
---

<section>
    <p class="topic">CARREIRA</p>
    <div>
        <CarrerCard title="Estágio desenvolvimento de software" icon="mdi:briefcase-outline" period="Dez. 2025 - Atualmente" institution="Programa Voucher Desenvolvedor"/>
        <br/>
        <CarrerCard title="Desenvolvimento de sistemas" icon="carbon:education" period="Mar. 2024 - Dez.\ 2025" institution="SENAC HUB ACADEMY"/>
    </div>
</section>

<style>
    section {
        border: 1px solid rgba(84,84,84,0.5);
        padding: 1.5rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        margin-top: 2rem;
    }

    p {
        color: var(--color-secondary);
    }

</style>
