---
import { Icon } from "astro-icon/components"
---

<header>
    <div id="logo">
        <h2>FREITAS <span class="text-orange-400">λ</span></h2>
    </div>
    <nav>
        <ul>
            <li><a href="/">Sobre</a></li>
            <li><a href="/projects">Projetos</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contato</a></li>
        </ul> 
        <ul id="mobile-menu">
            <Icon name="carbon:menu" size={32} id="mobile-menu-open" />
            <div class="mobile-menu-nav animation-menu">
                <div>
                    <h3>MENU</h3>
                    <Icon name="carbon:close" size={32} />
                </div>
                <li><a href="/">Sobre</a></li>
                <li><a href="/projects">Projetos</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contato</a></li>
            </div>
        </ul>       
    </nav>
</header>

<script>
    const mobileMenu = document.querySelector('#mobile-menu-open');
    const closeMenu = document.querySelector('.mobile-menu-nav div svg');
    const bgFocus = document.querySelector('#bg-focus') as HTMLDivElement;

    const toggleMenu = () => {
        const mobileMenuNav = document.querySelector('.mobile-menu-nav') as HTMLDivElement;
        if(mobileMenuNav.classList.toggle('show')) {
            document.documentElement.style.overflow = 'hidden';
            bgFocus.classList.add('focus');
            mobileMenuNav.classList.remove('animation-close-menu');
            return;
        }

        mobileMenuNav.classList.add('animation-close-menu');
        bgFocus.classList.remove('focus');
        document.documentElement.style.overflow = 'auto';
    };

    mobileMenu?.addEventListener('click', toggleMenu); 
    closeMenu?.addEventListener('click', toggleMenu);


</script>

<style>
    @keyframes open-menu {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0%);
        }
    }

    @keyframes close-menu {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(-100%);
        }
        
    }


    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0rem;
        border-bottom: var(--border-main);
    }

    #logo h2 {
        color: var(--white);
    }

    header ul {
        color: #b1b1b1;
        display: flex;
        gap: 2rem;
        list-style: none;
    }

    header ul li a {
        color: var(--color-secondary);
    }

    header li {
        align-self: center;
    }

    header ul li:hover {
        color: #e0e0e0;
        transition: all ease-in 0.4s;
        cursor: pointer;
    }

    svg {
        width: 20px;
    }

    #mobile-menu {
        display: none;
    }

    @media (max-width: 768px) {
        header ul {
            display: none;
        }

        #mobile-menu {
            display: flex;
            gap: 2rem;
        }

        .mobile-menu-nav {
            z-index: 999;
            border-right: var(--border-main);
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            background: var(--bg);
            width: 100%;
            max-width: 20rem;
            height: 150vh;
            padding: 1rem;
            border-radius: 10px;
        }

        .show {
            display: block;
        }

        .mobile-menu-nav li {
            list-style: none;
            padding: 0.5rem 0rem;
        }

        .mobile-menu-nav div {
            margin-top: 4rem;
        }

        .mobile-menu-nav > div {
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .mobile-menu-nav div h3 {
            color: var(--white);
        }


        .animation-menu {
            animation: open-menu 0.5s ease-in-out;
        }

        .animation-close-menu {
            animation: close-menu 0.5s ease-in-out;
            animation-fill-mode: forwards;
            display: block;
        }

    }
</style>