---
export interface Props {
    icon: string;
    title: string;
    description: string;
    url: string;
}

import { Icon } from "astro-icon/components";
const { title, description, url, icon } = Astro.props;
---


<div class="info-card">
    <div>
        <Icon name={icon} color="#fff" size={22}/>
        <span>{title}</span>
    </div>
    <p><a href={url} target="_blank">{description}</a></p>
</div>

<style>
    .info-card > div {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .info-card p {
        line-height: 0;
    }

    .info-card a {
        color: var(--color-secondary);
    }

    .info-card {
        padding: 1rem;
        border-radius: 10px;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .info-card span {
        color: var(--white);
    }

</style>