---
import Info from "./Info.astro"
---

<section>
    <img src="https://media.discordapp.net/attachments/1259655073932378195/1269884045421187102/IMG_4707.jpg?ex=673b73ed&is=673a226d&hm=02e14bd9bb4802dbd14ce5ddcc20ebe39ca2096d2aeeb1c78e4f3debd55d6622&=&format=webp&width=498&height=664"/>
    <div>
        <p class="topic">INTRODUÇÃO</p>
        <h2>Freitas, desenvolvedor full-stack</h2>
        <p id="description">Comecei minha jornada no desenvolvimento em 2023, impulsionado pela paixão por tecnologia. Sou um desenvolvedor full-stack comprometido em criar soluções de alto impacto e projetos de qualidade. Desde o início, tenho me dedicado a aprimorar continuamente minhas habilidades, explorar novas ferramentas e superar desafios que me permitem evoluir como profissional e contribuir para projetos de excelência.        </p>
        <div class="cards">
            <Info title="Cidade" description="Campo Grande, MS" icon="carbon:location" url="#"/>
            <Info title="OS" description="Archlinux" icon="carbon:screen" url="#"/>
            <Info title="Github" description="/srfreitass" icon="carbon:logo-github" url="https://github.com/srfreitass"/>
            <Info title="Linkedin" description="Guilherme F." icon="carbon:logo-linkedin" url="https://github.com/srfreitass"/>
        </div>
    </div>
</section>

<style>
    section {
        border: var(--border-main);
        padding: 1.5rem;
        border-radius: 10px;
        display: flex;
        gap: 2rem;
    }
    
    div p:first-child {
        line-height: 0;
    }

    section img {
        border-radius: 10px; 
        width: 20rem;
        height: 30rem;
        object-fit: cover;
    }

    h2 {
        color: var(--white);
    }

    p {
        color: var(--color-secondary);
        font-size: 1rem;
        padding: 1rem 0rem;
        line-height: 2rem;
    }

    p#description {
        font-family: Geist, sans-serif;
        line-height: 2rem;
        font-weight: 500;
        padding: 0.5rem 0rem;
        border-bottom: var(--border-main);
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    @media (max-width: 950px) {
        section {
            flex-direction: column;
        }

        section img {
            width: auto;
        }
    }

    @media(max-width: 400px) {
        section img {
            max-height: 20rem;
        }
    }
 
</style>